* {
    margin: 0px;
    padding: 0px;
}

@font-face {
	font-family: "hobo";
    src: url("fichiers/HoboStd.ttf");
    src: url("fichiers/HoboStd.otf");
}

body {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    background: url("../bomberman_js/img/back-bomber.jpg") center;
}

header {
    position: absolute;
    height: 90px;
}

#bordure {
    background: url("../bomberman_js/img/back-bordure.png") center;
    height: 740px;
    width: 1150px;

}

#map {
    height: 650px;
    width: 950px;
    position: relative;
    margin: auto;
    margin-top: 90px;
}

h1 {
    color: antiquewhite;
    font-size: 35px;
    font-family: hobo;
    font-weight: bold;
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    }

.bord {
    position: absolute;
    height: 50px;
    width: 50px;
}

    #hero {
        background-image: url("img/h-static.png");
        z-index: 10;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50px;
        left: 50px;
    }

    #mechante {
        background-image: url("../bomberman_js/img/morgane.png");
        z-index: 10;
        position: absolute;
        height: 50px;
        width: 50px;
        bottom: 50px;
        right: 50px;
    }

    .wall {
        position: absolute;
        width: 50px;
        height: 50px;
        background: no-repeat;
    }

    .wall-destruct {
        position: absolute;
        width: 50px;
        height: 50px;
        background: no-repeat;
    }

    #bomb {
        z-index: 10;
        display: none;
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url("img/bomb_item.png");
    }

    .floor {
        position: absolute;
        height: 50px;
        width: 50px;
        background: no-repeat;
    }

    .explosion {
        position: absolute;
        z-index: 11;
        height: 50px;
        width: 50px;
    }

    #playerwin {
        position: absolute;
        display: none;
        width: 600px;
        height: 400px;
        margin: auto;
        top: 100px;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        background-color:rgba(79, 182, 233, 0.6);
        z-index: 10000;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    }

    h2{
        margin: 50px;
        margin-top: 100px;
        margin-left: 100px;
        color: black;
    }

    a {
        border: solid black 2px;
        color: black;
        text-decoration: none;
        padding: 10px;
        border-radius: 5px;
    }

    a:hover{
        box-shadow: 2px 2px 5px black inset;
    }
    
    #playerlose {
        position: absolute;
        display: none;
        width: 600px;
        height: 400px;
        margin: auto;
        top: 100px;
        font-family: Verdana, sans-serif;
        font-size: 20px;
        background-color:rgba(233, 79, 79, 0.6);
        z-index: 10000;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black;
    }