* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    background: url("../bomberman_js/img/back-bomber.jpg");
}

header {
    position: absolute;
    height: 90px;
}

#map {
    background: url("../bomberman_js/img/map.png");
    height: 650px;
    width: 950px;
    position: relative;
    margin: auto;
}

h1 {
    color: antiquewhite;
    font-size: 35px;
    font-family: arial;
    font-weight: bold;
    height: 90px;
    color: white;
    display: flex;
    align-items: center;
    }

.bord {
    position: absolute;
    height: 50px;
    width: 50px;
}

    #hero {
        background-image: url("img/h-static.png");
        z-index: 10;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50px;
        left: 50px;
    }

    #mechante {
        background-image: url("../bomberman_js/img/morgane.png");
        z-index: 10;
        position: absolute;
        height: 50px;
        width: 50px;
        bottom: 50px;
        right: 50px;
    }

    .wall {
        position: absolute;
        width: 50px;
        height: 50px;
        background: no-repeat;
    }

    .wall-destruct {
        position: absolute;
        width: 50px;
        height: 50px;
        background: no-repeat;
    }

    #bomb {
        z-index: 10;
        display: none;
        position: absolute;
        width: 50px;
        height: 50px;
        background-image: url("img/bomb.png");
    }

    .floor {
        position: absolute;
        height: 50px;
        width: 50px;
        background: no-repeat;
    }

    .explosion {
        position: absolute;
        z-index: 11;
        height: 50px;
        width: 50px;
    }
