* {
    margin: 0px;
    padding: 0px;
    }
    
    #map {
    background: url("../bomberman_js/img/map.png");
    height: 650px;
    width: 950px;
    margin: auto;
    position: absolute;
    }
    
    h1 {
    font-size: 35px;
    font-family: arial;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #hero {
        position: relative;
        width: 50px;
        height: 50px;
    }